/.idea/.gitignore
/build/reports/tests/test/css/base-style.css
/build/classes/java/main/model/Block.class
/out/production/blockchain_gitea/model/Block.class
/build/classes/java/main/model/BlockChain.class
/out/production/blockchain_gitea/model/BlockChain.class
/blockChain.txt
/build/classes/java/test/BlockChainTest.class
/build/reports/tests/test/classes/BlockChainTest.html
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.idea/compiler.xml
/build/reports/tests/test/packages/default-package.html
/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.1/executionHistory/executionHistory.lock
/.gradle/7.1/fileHashes/fileHashes.lock
/build/classes/java/main/util/FileManagement.class
/out/production/blockchain_gitea/util/FileManagement.class
/.gradle/7.1/dependencies-accessors/gc.properties
/.gradle/7.1/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/build/classes/java/main/util/HashFunction.class
/out/production/blockchain_gitea/util/HashFunction.class
/build/reports/tests/test/index.html
/.idea/sonarlint/issuestore/index.pb
/.idea/jarRepositories.xml
/.gradle/7.1/fileChanges/last-build.bin
/build/classes/java/main/Main.class
/out/production/blockchain_gitea/Main.class
/build/classes/java/main/model/Miner.class
/out/production/blockchain_gitea/model/Miner.class
/.idea/misc.xml
/build/classes/java/main/exceptions/NoSelfTransactionException.class
/build/classes/java/main/exceptions/NotEnoughCoinsException.class
/out/production/blockchain_gitea/exceptions/NotEnoughCoinsException.class
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/compileTestJava/previous-compilation-data.bin
/KeyPair/privateKey
/.idea/inspectionProfiles/Project_Default.xml
/KeyPair/publicKey
/build/reports/tests/test/js/report.js
/build/test-results/test/binary/results.bin
/.idea/runConfigurations.xml
/build/classes/java/main/util/Security.class
/out/production/blockchain_gitea/util/Security.class
/build/reports/tests/test/css/style.css
/build/test-results/test/TEST-BlockChainTest.xml
/build/classes/java/main/model/Transaction.class
/out/production/blockchain_gitea/model/Transaction.class
/build/classes/java/main/util/TransactionsGenerator.class
/out/production/blockchain_gitea/util/TransactionsGenerator.class
/.idea/uiDesigner.xml
/.idea/vcs.xml
